{% extends "page.html" %}

{% block body %}
	<p>Retrieves the relevant favicon for a URL, or returns a default icon should it not be able to find it. Works better than the <a href="http://simonwillison.net/2008/Aug/30/favicons/">Google version</a> as it will find favicons specified by an HTML page's <code>&lt;link&gt;</code> element. Feel free to hotlink, although it would be nice if you could <a href="mailto:mail@jasoncartwright.com">email me</a> if you're going to make more than a couple of requests a second.</p>
	
	<p>getFavicon's source is available at <a href="https://github.com/potatolondon/getfavicon">https://github.com/potatolondon/getfavicon</a></p>
	
	<h2>Instructions</h2>
	<p>To retrieve a favicon you can hotlink it at...</p>
	<pre>http://g.etfv.co/[URL]</pre>
	<p>Notice the URL contains the protocol (http or https). For example...</p>
	<pre><a href="http://g.etfv.co/http://www.google.com">http://g.etfv.co/http://www.google.com</a></pre>
	<p>This works well in an <code>&lt;img&gt;</code> tag...</p>
	<pre>&lt;img src="http://g.etfv.co/http://www.google.com" alt="Google" width="16" height="16" /&gt;</pre>
	
	<h3>Escaping</h3>
	<p>Of course, you'll need to escape the URL you want the favicon for. E.g...</p>
	<pre>http://g.etfv.co/http://www.google.com/search%3Fq%3Durlencode</pre>
	
	<h3>Default icon</h3>
	<p>You can specify a default icon to be displayed should the favicon not be found...</p>
	<pre>http://g.etfv.co/http://www.google.com?defaulticon=http://en.wikipedia.org/favicon.ico</pre>
	<p>You can also pass the following <code>defaulticon</code> values for other responses when a favicon isn't found:</p>
	<ul>
		<li><code>none</code>: no default icon will be returned (and an HTTP 204 "No content" response code)</li>
		<li><code>1pxgif</code>: 1px x 1px transparent GIF</li>
		<li><code>lightpng</code>: grey 'world' icon (as used by Google Chrome)</li>
		<li><code>bluepng</code>: light blue 'world' icon (as used by Google's favicon service)</li>
	</ul>
	
	<h3>HTTPS</h3>
	<p>You can request an HTTPS version like this...</p>
	<pre><a href="https://getfavicon.appspot.com/http://www.google.com">https://getfavicon.appspot.com/http://www.google.com</a></pre>
	<p>Or get the secure icon for a domain like this...</p>
	<pre><a href="http://g.etfv.co/https://encrypted.google.com">http://g.etfv.co/https://encrypted.google.com</a></pre>
	
	<h3>Multiple domains</h3>
	<p>To improve the performance of pages with many favicons on them you can overcome <a href="http://www.stevesouders.com/blog/2008/03/20/roundup-on-parallel-connections/">browser connection limits</a> by pointing to the icon on different domains. You can see this in action on the <a href="/test/">test page</a> (<a href="https://github.com/potatolondon/getfavicon/blob/master/templates/test.html">source</a>) where we use the first letter of the domain to generate a subdomain name. The domains are of the format...</p>
	<pre>http://[whatever].getfavicon.appspot.com/[URL]</pre>
	
	<h3>De-cache</h3>
	<p>You can remove an icon from the cache by calling <code>/decache/?domain=[domain]</code>. E.g. <a href="/decache/?domain=http://www.google.com">/decache/?domain=http://www.google.com</a>.</p>
	
	<h2>Examples</h2>
	<ul>
		<li><a href="/http://code.google.com/appengine/docs/python/urlfetch/fetchfunction.html"><img src="/http://code.google.com/appengine/docs/python/urlfetch/fetchfunction.html" alt="Google Code"/></a> Google Code</li>
		<li><a href="/https://twitter.com/jasoncartwright/status/2374528561"><img src="/https://twitter.com/jasoncartwright/status/2374528561" alt="Twitter" /></a> Twitter (retrieved over HTTPS)</li>
		<li><a href="/http://www.jasoncartwright.com"><img src="/http://jasoncartwright.com" alt="Author's site"></a> Author's site</li>
		<li><a href="https://getfavicon.appspot.com/http://docs.python.org/"><img src="https://getfavicon.appspot.com/http://docs.python.org/" alt="Python Docs"></a> Python Docs (delivered using HTTPS)</li>
		<li><a href="/http://g.etfv.co"><img src="/http://g.etfv.co" alt="Getting it's own icon" /></a> Getting it's own icon - before some wiseguy suggests it</li>
	</ul>
	
	<h3>More examples</h3>
	<ul class="icons">
		<li><a href="/http://www.yahoo.com"><img src="/http://www.yahoo.com" alt="Yahoo" /></a></li>
		<li><a href="/http://www.google.com"><img src="/http://www.google.com" alt="Google" /></a></li>
		<li><a href="/http://www.microsoft.com"><img src="/http://www.microsoft.com" alt="Microsoft" /></a></li>
		<li><a href="/http://www.facebook.com"><img src="/http://www.facebook.com" alt="Facebook" /></a></li>
		<li><a href="/http://www.youtube.com"><img src="/http://www.youtube.com" alt="YouTube" /></a></li>
		<li><a href="/http://www.wikipedia.org"><img src="/http://www.wikipedia.org" alt="Wikipedia" /></a></li>
		<li><a href="/http://www.baidu.com"><img src="/http://www.baidu.com" alt="Baidu" /></a></li>
		<li><a href="/http://www.myspace.com"><img src="/http://www.myspace.com" alt="MySpace" /></a></li>
		<li><a href="/http://www.twitter.com"><img src="/http://www.twitter.com" alt="Twitter" /></a></li>
		<li><a href="/http://www.wordpress.com"><img src="/http://www.wordpress.com" alt="Wordpress" /></a></li>
		<li><a href="/http://www.bing.com"><img src="/http://www.bing.com" alt="Bing" /></a></li>
		<li><a href="/http://www.ebay.com"><img src="/http://www.ebay.com" alt="EBay" /></a></li>
		<li><a href="/http://www.sina.com.cn"><img src="/http://www.sina.com.cn" alt="Sina" /></a></li>
		<li><a href="/http://www.amazon.com"><img src="/http://www.amazon.com" alt="Amazon" /></a></li>
		<li><a href="/http://www.craigslist.org"><img src="/http://www.craigslist.org" alt="Craig's List" /></a></li>
		<li><a href="/http://www.flickr.com"><img src="/http://www.flickr.com" alt="Flickr" /></a></li>
		<li><a href="/http://www.aol.com"><img src="/http://www.aol.com" alt="AOL" /></a></li>
		<li><a href="/http://www.hi5.com"><img src="/http://www.hi5.com" alt="Hi5" /></a></li>
		<li><a href="/http://www.imdb.com"><img src="/http://www.imdb.com" alt="IMDB" /></a></li>
		<li><a href="/http://www.163.com"><img src="/http://www.163.com" alt="163" /></a></li>
		<li><a href="/http://www.photobucket.com"><img src="/http://www.photobucket.com" alt="Photobucket" /></a></li>
		<li><a href="/http://www.bbc.co.uk"><img src="/http://www.bbc.co.uk" alt="BBC" /></a></li>
		<li><a href="/http://www.ask.com"><img src="/http://www.ask.com" alt="Ask" /></a></li>
		<li><a href="/http://www.apple.com"><img src="/http://www.apple.com" alt="Apple" /></a></li>
		<li><a href="/http://www.adobe.com"><img src="/http://www.adobe.com" alt="Adobe" /></a></li>
		<li><a href="/http://www.cnn.com"><img src="/http://www.cnn.com" alt="CNN" /></a></li>
		<li><a href="/http://www.youku.com"><img src="/http://www.youku.com" alt="youku.com" /></a></li>
		<li><a href="/http://www.linkedin.com"><img src="/http://www.linkedin.com" alt="LinkedIn" /></a></li>
		<li><a href="/http://www.whitehouse.gov"><img src="/http://www.whitehouse.gov" alt="Whitehouse" /></a></li>
		<li><a href="/http://www.number10.gov.uk"><img src="/http://www.number10.gov.uk" alt="Number 10" /></a></li>
		<li><a href="/http://play.tm"><img src="/http://play.tm" alt="play.tm" /></a></li>
		<li><a href="/http://www.mozilla.com"><img src="/http://www.mozilla.com" alt="Mozilla" /></a></li>
		<li><a href="/http://www.nytimes.com"><img src="/http://www.nytimes.com" alt="New York Times" /></a></li>
		<li><a href="/http://digg.com"><img src="/http://digg.com" alt="digg" /></a></li>
		<li><a href="/http://www.weather.com"><img src="/http://www.weather.com" alt="Weather.com" /></a></li>
		<li><a href="/http://www.answers.com"><img src="/http://www.answers.com" alt="answers.com" /></a></li>
		<li><a href="/http://www.theregister.co.uk"><img src="/http://www.theregister.co.uk" alt="The Register" /></a></li>
		<li><a href="/http://www.boingboing.net"><img src="/http://www.boingboing.net" alt="Boing Boing" /></a></li>
		<li><a href="/http://www.techcrunch.com"><img src="/http://www.techcrunch.com" alt="Tech Crunch" /></a></li>
		<li><a href="/http://www.mashable.com"><img src="/http://www.mashable.com" alt="Mashable" /></a></li>
		<li><a href="/http://www.gizmodo.com"><img src="/http://www.gizmodo.com" alt="Gizmodo" /></a></li>
		<li><a href="/http://www.guardian.co.uk"><img src="/http://www.guardian.co.uk" alt="Guardian" /></a></li>
		<li><a href="/http://www.telegraph.co.uk"><img src="/http://www.telegraph.co.uk" alt="Telegraph" /></a></li>
		<li><a href="/http://www.newscientist.com"><img src="/http://www.newscientist.com" alt="New Scientist" /></a></li>
	</ul>
	<p>1000 more examples on the <a href="/test/">test page</a>.</p>
	
	<h3>Last cached icons</h3>
	<ul class="icons">
		{% for icon in lastServedIcons %}
		<li><a href="{{ icon.domain|escape }}"><img src="/{{ icon.domain|escape }}" alt="{{ icon.domain|escape }}" /></a></li>
		{% endfor %}
	</ul>
	
	<h2>Stats</h2>
	<p class="ancillary">Updated every minute or so</p>
	<dl>
		<dt>Icons served</dt>
		<dd>{{ favIconsServed }} million</dd>
		<dt>Icons cached</dt>
		<dd>{{ iconsCached }} million</dd>
		<dt>Cache hit rate</dt>
		<dd>{{ percentCache }}%</dd>
		<dt>Unable to find favicon</dt>
		<dd>{{ percentReal }}%</dd>
	</dl>
	
	<h2>Implementations</h2>
	<ul>
		<li><a href="http://duckduckgo.com">DuckDuckGo</a></li>
		<li><a href="http://www.mediauk.com">Media UK</a></li>
		<li><a href="http://userscripts.org/scripts/show/40120">Google Reader Favicon ++</a> (Greasemonkey script)</li>
		<li><a href="http://www.jdempster.com">James Dempster</a></li>
		<li><a href="http://www.jasoncartwright.com">Jason Cartwright</a></li>
		<li><a href="http://geturlinfo.appspot.com">getURLinfo</a></li>
		<li><a href="http://play.tm/wire/">play.tm</a></li>
		<li><a href="http://friedcellcollective.net/outbreak/">Marko Mrdjenovič</a></li>
		<li><a href="http://hail2u.net">hail2u.net</a></li>
		<li><a href="https://chrome.google.com/extensions/detail/jdnejaepfmacfdmhkplckpfdcjgbeode">'Yet Another Google Bookmarks Extension'</a></li>
		<li><a href="http://ultimatestatusbar.com">Ultimate Status Bar</a> (Safari extension)</li>
	</ul>
	
	<h2>Known problems</h2>
	<ul>
		<li>Sometimes <a href="http://twitter.com/mydogminton/status/2374789273">doesn't get the correct favicon</a> when there are multiple favicons per domain</li>
		<li>Some dodgy redirect handling when retrieving icon</li>
		<li>Sometimes returns incorrect MIME type</li>
		<li><s>Client-side caching is rubbish</s></li>
		<li><s>Some dicey error handling</s></li>
	</ul>
	
	<h2>Credit</h2>
	<p>By <img src="/http://www.jasoncartwright.com"/> <a href="http://www.jasoncartwright.com">Jason</a> from <img src="/http://p.ota.to"/> <a href="http://p.ota.to">Potato</a></p>
	
	<h3>Built using</h3>
	<ul>
		<li><img src="/http://code.google.com"/> <a href="http://code.google.com/appengine/">Google App Engine</a></li>
		<li><img src="/http://www.crummy.com/software/BeautifulSoup/"/> <a href="http://www.crummy.com/software/BeautifulSoup/">Beautiful Soup</a></li>
	</ul>
{% endblock %}